@media only screen and (min-width: 50rem) {
    

    header {
        grid-template-columns: 90px auto;
        column-gap: 2rem;
    }

    header img {
            padding-left: 5.5rem;
    }

    header span {
            padding-bottom: 1rem;
            padding-right: 7rem;
            font-size: 1.5rem;
    }

    .hamburger {
        display: none;
        border: none;
    }

    .navigation {
        display: block;
        margin-left: 6rem;
    }

    .navigation ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .navigation a {
        border: none;
    }

    .list section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 0;
            padding: .25rem;
    }

    .hero-card {
        display: grid;  
        grid-template-columns: 3fr 1fr;  
        max-width: 90%;  
        box-shadow: 0 0 12px rgb(0, 0, 0, 0.4);
        border-radius: 20px;
    }

    .hero-card img {
        border-radius: 20px;
    }
    
    .spotlight, .current-events {
        margin: 1rem 5rem;
    }

    footer {
        font-size: 1rem;
    }
    
}