@media only screen and (min-width: 20rem) and (max-width: 50rem) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header img {
        padding-top: 1rem;
        width: 4rem;
    }

    header span {
        padding-bottom: 1rem;
        padding-right: 10px;
        font-size: 1.2rem;
    }

    

    .hamburger {
        display: none;
        border: none;
    }

    .navigation {
        display: block;
        
    }

    .navigation ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .navigation a {
        border: none;
    }

}