@media only screen and (min-width: 21rem) and (max-width: 50rem) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header img {
        padding-top: 1rem;
        width: 4rem;
    }

    header span {
        padding-bottom: 1rem;
        padding-right: 10px;
        font-size: 1.2rem;
    }

    

    .hamburger {
        display: none;
        border: none;
    }

    .navigation {
        display: block;
        
    }

    .navigation ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .navigation a {
        border: none;
    }

   #allplaces div {
        padding: .5rem;
        display: grid;
        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph address"
        "learnmore learnmore"
        ;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto;
    }

    #allplaces div img {
        width: 300px;
    }
}


