:root {
    --primary-color:#2C3E50 ;
    --secondary-color: #3498DB ;
    --background-color: #F0F8FF ;
    --text-color: #36454F;
}

/*************** Body *****************/
body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

/*************** header****************/
header {
    display: grid;
    grid-template-columns: 60px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
}

header span {
    font-size: .75rem;
    text-align: center;
    padding-top: .5rem;
    
}


header img {
    display: block;
    width: 100%;
    height: auto;
}

/*************** Hamburger ************/
.hamburger {
    border: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Inter;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/*************** Navigation ***********/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    background-color: var(--secondary-color);
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: 5px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}

.navigation li.current {
    font-weight: bold;
}

.navigation a:hover {
    background-color: #ccc;
    color: var(--primary-color);
    font-weight: 600;
}

/*************** Main *****************/
h1 {
    text-align: center;
    font-size: 1.7rem;
}

#directory {
    min-width: 300px;
}
.menu {
    text-align: center;

}

.menu button {
        padding: .2rem .75rem;
        border-radius: 3px;
        background-color: white;
        border: 1.5px solid var(--secondary-color);
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
}

.menu button:hover {
        background-color: #ccc;
}


.business-directory {
    max-width: 90%;
    margin: 1rem auto;    
}

.grid, .spotlight, .weather, .current-events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: .5rem;
    justify-content: center;
    
}

.grid section, .spotlight section, .weather section {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px rgb(0, 0, 0 , 0.4);
}

.grid h2 {
        margin: 0;
}

.grid p, .spotlight p {
        font-size: .75rem;
        margin: .3rem;
}

.grid img, .spotlight img {
        background-color: var(--primary-color);
        margin-top: .5rem;
        padding: 1rem;
        box-shadow: 0 0 15px rgb(0, 0, 0 , 0.6);
        border: 2px solid var(--secondary-color);
        border-radius: 2px;

}


.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.list section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: .25rem;
}
.list img {
        display: none;
}

.list section:nth-child(even) {
        background-color: #8d7474;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}


.hero-card img {
    width: 100%;
    height: auto;
    
}
.join-us {
    text-align: center;
}

.join-us p {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: var(--primary-color);
    text-align: center;
    padding: .5rem;
    line-height: 2rem;
}

.join-us a {
    background-color: var(--secondary-color);
    color: #fff;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.8);
    border: thin solid var(--secondary-color);
    text-decoration: none;
    border-radius: 6px;
    padding: .3rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 1s ease-in-out; 
}

.join-us a:hover, figure a:hover {
    background-color: var(--primary-color);
    color: #ccc;
}


.border-events {
    text-align: center;
    font-size: 2rem;
    border-top: .5rem solid var(--primary-color);
}

.border-events h2 {
    margin-bottom: 0;
    font-size: 2rem;
}

/****************** Figure *******************/
figure {
    border: thin var(--primary-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 0 12px rgb(0, 0, 0, 0.4);
    border-radius: 3px;
}

figure img {
    max-width: 400px;
    height: 300px;
    padding: 3px;    
}
  
figcaption {
    background-color: #222;
    color: var(--background-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    font-size: 1.2rem;
  }

figure a {
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.8);
    background-color: #ccc;
    margin: .5rem 0;
    padding: .2rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-color);
    border-radius: 3px;
    transition: all 1s ease-in-out;
}

.spotlight {
    margin-bottom: 1rem;
}


.forecast-output h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.weather {
    margin: 1rem 2rem;
    padding: 0;
}
.weather img {
    display: block;
}
.weather p, .weather h2 {
    margin: .5rem;
}



/*********** Footer ***************/

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: #ccc;
    font-size: .75rem;
    padding: .1rem;
}
