:root {
    --primary-color: #36454F;
    --secondary-color: #778899;
}
/************ Body **************/
body {
    color: var(--primary-color);
}
/********* Header ********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

/****************** Hamburger ***************/
.hamburger {
    border: none;
    background: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

header span {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

/******************** Main Navigation ********************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    background-color: var(--primary-color);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #ddd;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.navigation li.current {
    background-color: var(--secondary-color);
}

.navigation a:hover {
    background-color: #ccc;
    color:var(--primary-color);
    font-weight: 600;
}



/********************* Main ************************/

.student-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: 1px solid red;
}

section {
    border: 1px solid red;
}

section p {
    margin: 0;
}

.student-photo .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-photo img {
    width: 200px;
    height: auto;
    border-radius: 6px;
    border: thin solid var(--primary-color);
}

section h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: #eee;
    margin: 0;
}

.box {
    background-color: #ccc;
    margin-top: .2rem;
}


/********************* footer **********************/

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}
